:root {
    --dark: #433743;
    --violet: #ede4f8;
    --red: #c12036;
    --light-violet: #ede4f8;
    --theme-color: #66ff;
}

body{
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--theme-color);
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 20pt;
}
.item{
    margin: 5px;
    padding: 5px;
    border: 3px solid var(--theme-color);
    border-radius: 16px;
}
#item-prototype{
    display: none;
}
#add{
    width: 99.35%;
    margin: 4px;
    text-align: center;
    font-size: 30pt;
    border: 3px solid var(--theme-color);
    border-radius: 16px;
    background-color: white;
    color: var(--theme-color);
}
#add:hover{
    cursor: pointer;
    background-color: var(--theme-color);
    color: white;
}

.apply{
    background-color: white;
    border: 1px solid var(--theme-color);
    color : var(--theme-color);
    border-radius: 3px;
    width:70px;
    height:20px;
}
.apply:hover{
    cursor: pointer;
    background-color: var(--theme-color);
    color: white;
}
.right-floater{
    float: right;
    /* margin-bottom: 10px; */
}
.right-btn{
    background-color: white;
    border: 1px solid var(--theme-color);
    border-radius: 3px;
    font-size: 12.5pt;
    color: var(--theme-color);
    width:50px;
    height: 23px;
    vertical-align: top;
}
.right-btn:hover{
    cursor: pointer;
    background-color: var(--theme-color);
    color: white;
}

.toggle-up{
    width: 100px;
    border: 1px solid #4f4;
    background-color: #4f4;
    color: white;
    height: 45px;
}
.toggle-up:hover{
    cursor: pointer;
    background-color: #8f8;
}

.toggle-down{
    width: 100px;
    border: 1px solid #f22;
    background-color: #f22;
    color: white;
    height: 45px;

}
.toggle-down:hover{
    cursor: pointer;
    background-color: #f55;
}

input[type='text']:read-only{
    background-color: #ddd;
}

.outer-circle {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: conic-gradient(#fff, rgba(80,200,120,0.4), rgb(80,200,120));
    animation: circle-anim 0.6s linear infinite;
    border-radius: 50%;
    vertical-align: bottom;
}

.inner-circle {
    width: 12px;
    height: 12px;
    margin-top: 3px;
    margin-left: 3px;
    background-image: conic-gradient(#fff, #fff,#fff);
    border-radius: 50%;
}

.downlist{
    margin-left:10px;
    margin-right:10px; 
    display: none;
}

.listitem-content{
    margin-left: 10px; 
    display: inline-block;
    vertical-align: top;
}

.progress{
    float:right;
    margin-top:25px;
    margin-right: 25px;
    font-weight: bold;
}

.progress .outer-circle{
    margin-right: 9px;
    display: none;
    float: right;
}

.downlist-title{
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes circle-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
